@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

$black: #000000;
$yellow: #ffcc00;

body {
	font-family: 'Quicksand', sans-serif;
	background-color: $black;
}

@import 'header';
